/****************************
            GENERAL         
*****************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family: "Montserrat", sans-serif;
}

img {
    width: 100%;
}

.container {
    height: calc(100vh - 90px);
}

.card {
    margin-left: calc(10% / 6);
    width: calc(90% / 6);
}
/****************************
            UTILITY         
*****************************/

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-spaceb {
    justify-content: space-between;
}

.margin-35 {
    margin-bottom: 35px;
}

.margin-20 {
    margin-bottom: 20px;
}

.margin-30 {
    margin-bottom: 30px;
}

.margin-l24 {
    margin-left: 24px;
}

.text-center {
    text-align: center;
}

.margin-t45 {
    margin-top: 45px;
}



/****************************
            HEADER         
*****************************/
header {
    width: calc(100%/7);
    background-color: #000000;
}

/****************************
            MAIN         
*****************************/
main    {
    width: 100%;
    background-color: #141922;
    overflow: auto;
}

main h2 {
    color: white;
}

main h6 {
    color: #7c7e83;
}

main h4 {
    margin-top: 20px;
    color: #ffffff;
}

.card h6 {
    margin-top: 15px;    
}

/****************************
            FOOTER         
*****************************/
footer {
    height: 90px;
    background-color: #282828;
}

/****************************
            MEDIA Q         
*****************************/

@media screen and (max-width:1101px) {
  .card {
    width: calc(90%/4);
  }
}

@media screen and (max-width:701px) {
    .card {
        width: calc(90%/2);
    } 
    .row {
        justify-content: space-around;
    }   
}

@media screen and (max-width:601px) {
    
}