/****************************
            GENERAL         
*****************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family: "Montserrat", sans-serif;
}

img {
    width: 100%;
}

.container {
    height: calc(100vh - 90px);
}

.card {
    margin-left: calc(10% / 6);
    width: calc(90% / 6);
}

ul {
    list-style: none;
}
/****************************
            UTILITY         
*****************************/

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-spaceb {
    justify-content: space-between;
 }

 .baseline {
    align-items: baseline;
 }

.align-c{
    align-items: center;
}
.margin-35 {
    margin-bottom: 35px;
}

.margin-20 {
    margin-bottom: 20px;
}

.margin-30 {
    margin-bottom: 30px;
}

.margin-l24 {
    margin-left: 24px;
}

.text-center {
    text-align: center;
}

.margin-t45 {
    margin-top: 45px;
}

.margin-t25 {
    margin-top: 25px;
}

.margin-t30 {
    margin-top: 30px;
}

.margin-t15 {
    margin-top: 15px;
}
.margin-l10{
    margin-left: 10px;
}
.gap-10 {
    gap: 10px;
}

.relative {
    position: relative;
}

.padding-l16 {
    padding-left: 16px;
}

/****************************
            HEADER         
*****************************/
header {
    width: 200px;
    flex-shrink: 0;
    flex-direction: column;
    background-color: #000000;
    overflow: auto;
}

.logo {
    text-align: center;
    margin-top: 20px;
    max-height: 50px;
}

header nav {
    font-size: 14px;
    color: #7c7e83;
}

.header-nav img {
    color: #7c7e83;
    width: 30px;
}

header h4 {
    text-transform: uppercase;
    color: #ffffff;
}
header a {
    font-size: 12px;
    margin-left: 10px;
    font-weight: bold;
    color: #7c7e83;
    text-decoration: none;
}

.btn-square {
    padding: 10px 12px;
}

.header-nav-bottom li {
    margin-bottom: 15px;
}

.header-nav-bottom{
    overflow-y: auto;
    flex-grow: 1;
}

.logo-small {
    display: none;
}

header a:hover {
    color: #ffffff;
}

.account {
    color: #ffffff;
}
/****************************
            MAIN         
*****************************/
main    {
    width: 100%;
    background-color: #141922;
    overflow: auto;
}

.main-nav {
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    justify-content: center;
}

main ul {
    gap: 20px;
    list-style: none;
}

main h2 {
    color: white;
}

main h6 {
    color: #7c7e83;
}

main h4 {
    margin-top: 20px;
    color: #ffffff;
}

.card h6 {
    margin-top: 15px;    
}

.main-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    flex-direction: row-reverse;
    height: 90px;
    background-color: #080b12;
}

.btn {
    cursor: pointer;
    border-radius: 20px;
    margin-right: 10px;
    align-self: center;
    height: 40px;
    color: #ffffff;
    background-color: #080b12;
    border: 1px solid white;
    padding: 10px 40px;
}

main a {
    text-decoration: none;
    color: #7c7e83;
}

.under {
    border-bottom: 2px solid #adff2f;
}

main a:hover {
    color: #ffffff;
}

.play-hover{
    display: none;
    position: absolute;
    font-size: 50px;
    color: #ffffff;
    left: 75px;
    top: 70px;
}

.card img:hover {
    cursor: pointer;
    filter: opacity(0.5);
}

.card:hover .play-hover {
    cursor: pointer;
    display: block;
}

.circle img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    }
 
/****************************
            FOOTER         
*****************************/
footer {
    padding: 0px 10px;
    color: #ffffff;
    height: 90px;
    background-color: #282828;
}

.square {
    width: 50px;
    height: 50px;
}

footer h6 {
    color: #7c7e83;
}

footer i {
    color: white;
}

.play-bar i {
    margin-right: 20px;
    font-size: 30px;
}

.time-bar {
        background-color: #5a5a5a;
        height: 5px;
        width: 360px;
}

.time-bar-small {
    background-color: #5a5a5a;
    height: 5px;
    width: 100px;
}

.last-bar i {
    margin-right: 10px;
}
/****************************
            MEDIA Q         
*****************************/

@media screen and (max-width:1101px) {
  .card {
    width: calc(90%/4);
  }
  main ul {
    justify-content: center;
  }
}

@media screen and (max-width:701px) {
    .card {
        width: calc(90%/2);
    } 
    .row {
        justify-content: space-around;
    }   
}

@media screen and (max-width:601px) {
    header {
        width: 40px;
    }

    .logo-small {
        margin-top: 25px;
    }

    header a {
        display: none;
    }

    header h4 {
        display: none;
    }
    .btn-square {
        display: none;
    }
    .logo {
        display: none;
    }
    .header-nav ul {
        margin-top: -15px;
        margin-left: -5px;
    }
    .logo-small {
        margin-left: 5px;
        width: 30px;
        display: block;
    }
}