/****************************
            GENERAL         
*****************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family: "Montserrat", sans-serif;
}

img {
    width: 100%;
}

.container {
    height: calc(100vh - 90px);
}

.card {
    padding: 10px;
    width: calc(100% / 6);
}

ul {
    list-style: none;
}
/****************************
            UTILITY         
*****************************/

.d-flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}

.justify-spaceb {
    justify-content: space-between;
 }

 .baseline {
    align-items: baseline;
 }

.align-c{
    align-items: center;
}
.margin-35 {
    margin-bottom: 35px;
}

.margin-20 {
    margin-bottom: 20px;
}

.margin-30 {
    margin-bottom: 30px;
}

.margin-l24 {
    margin-left: 24px;
}

.text-center {
    text-align: center;
}

.margin-t45 {
    margin-top: 45px;
}

.margin-t25 {
    margin-top: 25px;
}

.margin-t30 {
    margin-top: 30px;
}

.margin-t15 {
    margin-top: 15px;
}
.margin-l10{
    margin-left: 10px;
}
.gap-10 {
    gap: 10px;
}

.relative {
    position: relative;
}

.padding-l10 {
    padding-left: 10px;
}
.margin-left {
    margin-left: calc(10% / 6)
}


/****************************
            HEADER         
*****************************/
header {
    width: 200px;
    flex-shrink: 0;
    flex-direction: column;
    background-color: #000000;
    overflow: auto;
}

.logo {
    text-align: center;
    margin-top: 20px;
    max-height: 50px;
}

header nav {
    font-size: 14px;
    color: #7c7e83;
}

.header-nav img {
    color: #7c7e83;
    width: 30px;
}

header h4 {
    text-transform: uppercase;
    color: #ffffff;
}
header a {
    font-size: 12px;
    margin-left: 10px;
    font-weight: bold;
    color: #7c7e83;
    text-decoration: none;
}

.btn-square {
    padding: 10px 12px;
}

.header-nav-bottom li {
    margin-bottom: 15px;
}

.header-nav-bottom{
    overflow-y: auto;
    flex-grow: 1;
}

.logo-small {
    display: none;
}

header a:hover {
    color: #ffffff;
}

.account {
    color: #ffffff;
}

.download {
    cursor: pointer;
    width: 20px;
}

hr {
    margin-bottom: 10px;
    width: 90%;
}

header h6 {
    color: #ffffff;
}

.profile {
    width: 30px;
}


.profile img {
    background-color: #7c7e83;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
/****************************
            MAIN         
*****************************/
main    {
    width: 100%;
    background-color: #141922;
    overflow: auto;
}

.main-nav {
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    justify-content: center;
}

main ul {
    gap: 20px;
    list-style: none;
}

main h2 {
    color: white;
}

main h6 {
    color: #7c7e83;
}

main h4 {
    margin-top: 20px;
    color: #ffffff;
}

.card h6 {
    margin-top: 15px;    
}

.main-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    flex-direction: row-reverse;
    height: 90px;
    background-color: rgba(8, 11, 18, 0.5);
}

.btn {
    cursor: pointer;
    border-radius: 20px;
    margin-right: 10px;
    align-self: center;
    height: 40px;
    color: #ffffff;
    background-color: #080b12;
    border: 1px solid white;
    padding: 10px 40px;
}

main a {
    text-decoration: none;
    color: #7c7e83;
}

.under {
    border-bottom: 2px solid #adff2f;
}

main a:hover {
    color: #ffffff;
}

.play-hover{
    display: none;
    position: absolute;
    font-size: 50px;
    color: #ffffff;
}

.card img:hover {
    cursor: pointer;
}

.circle {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.circle img{
    width: 100%;
    object-fit: cover;
    }
.album-img img {
    display: block;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transition: 0.4s opacity;
}

.overlay i {
font-size: 50px;    
}

.album:hover .overlay {
    opacity: 1;
}

button {
    text-transform: uppercase;
}
/****************************
            FOOTER         
*****************************/
footer {
    padding: 0px 10px;
    color: #ffffff;
    height: 90px;
    background-color: #282828;
}

.square {
    width: 50px;
    height: 50px;
}

footer h6 {
    color: #7c7e83;
}

footer i {
    color: white;
}

.play-bar i {
    cursor: pointer;
    margin-right: 20px;
    font-size: 30px;
}

.time-bar {
        background-color: #5a5a5a;
        height: 5px;
        width: 360px;
}

.time-bar-small {
    background-color: #5a5a5a;
    height: 5px;
    width: 100px;
}

.last-bar i {
    font-size: 15px;
    margin-right: 10px;
}

.sinister {
    width: 40px;
}

.timebar {
    cursor: pointer;
    margin: 0px 10px;
    height: 5px;
    background-color: #5a5a5a;
    width: 25vw;
}

.timebar-side {
    cursor: pointer;
    border-radius: 5px;
    height: 3px;
    background-color: #5a5a5a;
    width: 6vw;
}

.row-footer {
    height: 100%;
}

.timebar-green{
    display: none;
    position: absolute;
    height: 5px;
    background-color: greenyellow;
    width: 13vw;
    margin-left: 43px;
}

.fa-circle {
    position: absolute;
    top: 0.19vw;
    left: 12vw;
    color: rgb(255, 255, 255);
}

.timebar:hover + .timebar-green{
    display: block;
}

.timebar:hover + .fa-circle{
    display: block;
}

#circle {
    font-size: 15px;
}

.fa-shuffle {
    margin-left: 30px;
}


.timebar-side-green{
    display: none;
    left: 80px;
    position: absolute;
    border-radius: 5px;
    height: 3px;
    background-color: greenyellow;
    width: 3vw;
}

.timebar-side:hover + .timebar-side-green {
    display: block;
}
#circle-side {
    
    position: absolute;
    top: 0.065vw;
    left: 1.95vw;
}

/****************************
            MEDIA Q         
*****************************/

@media screen and (max-width:1101px) {
  .card {
    width: calc(100%/4);
  }
  main ul {
    justify-content: center;
  }
}

@media screen and (max-width:701px) {
    .card {
        width: calc(100%/2);
    } 
    
    .time-left {
        margin-left: 15px;
    }
    .timebar-green{
        width: 8vw;
        margin-left: 57px;
    }
    .fa-circle {
        left: 6vw;
    }
}

@media screen and (max-width:601px) {
    header {
        width: 40px;
    }

    .logo-small {
        margin-top: 25px;
    }

    header a {
        display: none;
    }

    header h4 {
        display: none;
    }
    .btn-square {
        display: none;
    }
    .logo {
        display: none;
    }
    .header-nav ul {
        margin-top: -15px;
        margin-left: -5px;
    }
    .logo-small {
        margin-left: 5px;
        width: 30px;
        display: block;
    }
    .timebar {
        width: 20vw;
    }
    .time-left {
        margin-left: 32px;
    }
    .timebar-green{
        width: 8vw;
        margin-left: 75px;
    }
    .fa-circle {
        left: 6vw;
    }
    .install {
        display: none;
    }
    .name {
        display: none;
    }
    hr {
        display: none;
    }
    .profile {
        margin-left: 6px;
    }
}